@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

span {
    text-decoration: underline;
}

button {
    min-width: 120px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 7rem;
    align-items: center;
    justify-content: center;
    min-height: 260px;
}
@keyframes customAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.animate {
    animation: customAnimation 1s;
}


.start-text {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 150px;
}

#weather-header {
    margin: 0 2rem;
    font-size: 18px;
}

.weather-data {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#location {
    text-align: center;
}

#get-weather-button{
    margin: 1.5rem;
    background-color: #130c22;
}

.d-none {
    display: none;
}

.time{
    text-align: center;
    width: 400px;
    height: 180px;
}


#work-time {
    flex-basis: 1;
}

#break-time {
    flex-basis: 0;
}
.inputValue{
    text-align: center;
}

#timer-display {
    margin: 1rem;
}

#timer {
    color: #3f3838;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: bold;
}
